*{
    margin: 0;
    padding: 0;
    font-family: "Red Hat Display", sans-serif; /*como importar fonte a partir do link na head do html*/
}
.attribution {
    font-size: 11px; /*tamanho da fonte*/
    text-align: center; /*centralizacao do texto*/
  }

.attribution a {
color: hsl(228, 45%, 44%);
}
#corpo {
    top: 50%; /*distancia do container até o topo da página*/
    background-color: white;
    width: 400px;
    height: 600px;
    border-radius: 15px;
    left: 50%;
    transform: translate(-50%, -50%); /* primeiro valor referente ao eixo X e segundo ao eixo Y/ 
    move quando negativo para a esquerda e positivo para a direita o valor do container
    usado para centralizar percentualmente elementos*/
    position: absolute; /*cria uma camada própria e sua posicao é relacionada a todo o container
    que ele está inserido*/
    box-shadow: 0 0 10px hsl(225, 100%, 94%);
}

#fundo {
    background-image: url('../images/pattern-background-desktop.svg');
    background-repeat: no-repeat; /*não repetir a imagem de fundo da página*/
    background-size:100%; /* a largura está configurada para ser 100% grande 
    e a altura da imagem de fundo segue respeitando a proporção da imagem.
    background-size:cover;significa que a imagem de fundo sempre caberá no 
    todo div, você não ficará com nenhum ponto vazio em seu div
    */
}
body{
    background-color: #e1e9ff;
}
img {
    width: 400px;
    height: 200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
#informacoes {
    text-align: center;
}
#informacoes h3:first-child {
    margin-top: 30px;
    font-size: 25px;
    color:hsl(223, 47%, 23%);
}
p:nth-child(2) { /*serve para selecionar a segunda tag P da página (nesse contexo)*/
    position: relative;
    margin-top: 15px;
    font-size: 16px;
    width: 75%;
    left: 50%;
    transform: translateX(-50%);
    color: hsl(224, 23%, 55%);
    text-align: center;
    line-height: 20px
}
#detalhes {
    border-radius: 10px;
    width: 80%;
    height: 80px;
    left: 50%;
    transform: translate(-50%);
    margin-top: 30px;
    position: absolute;
    background-color: hsl(225, 100%, 98%);
}
#detalhes img {
    width: 40px;
    height: 40px;
    left: 12.5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
#detalhes h4 {
    position: absolute;
    font-size: 16px;
    top: 20px;
    left: 22%;
    color: hsl(223, 47%, 23%);
}
#detalhes p:nth-child(3) {
    position: absolute;
    top: 45px;
    left: 22%;
    color: hsl(224, 23%, 55%);
    font-size: 15px;
}
#detalhes a {
    position: absolute;
    right: 10px;
    font-size: 15px;
    top: 50%;
    transform: translateY(-50%);
}
#botao {
    position: absolute;
    margin-top: 140px;
    margin-bottom: 30px;
    width: 280px;
    height: 40px;
    background-color: hsl(245, 75%, 52%);
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    box-shadow: 0 10px 10px hsl(225, 100%, 94%);
}
#botao a {
    position: absolute;
    text-decoration: none; /*serve para eliminar sublinhado e outras características do texto*/
    white-space: nowrap; /*trata o espaço: notwrap=mesma linha/ normal=normal/ pre=quebra de linha*/
    color: hsl(225, 100%, 98%);
    left: 50%;
    transform: translateX(-50%);
    margin-top: 12px;
    font-size: 13px;
}
#cancelar {
    position: absolute;
    text-align: center;
    height: 50px;
    margin-top: 210px;
    left: 50%;
    transform: translateX(-50%);
}
#cancelar a {
    text-decoration: none;
    color: hsl(224, 23%, 55%);
    font-size: 15px;
}

/*Efeitos*/
#detalhes a:hover {
    text-decoration: none;
    opacity: 70%;
}
#botao:hover {
    opacity: 70%;
}
#cancelar a:hover {
    color: hsl(223, 47%, 23%);
}